<?xml version="1.0" encoding="UTF-8"?>
<listener>
    <listener-class>
        org.springframework.web.context.ContextLoaderListener
    </listener-class>
</listener>

<context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
        classpath:META-INF/spring/applicationContext.xml
        classpath:META-INF/spring/spring-security.xml
    </param-value>
</context-param>